html,
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: black;
  color: white;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-family: "poppins", sans-serif;
}

.logo {
  color: #dee2ff;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Poppins-SemiBold", sans-serif;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.hero {
  text-align: center;
  position: relative;
  padding-top: 40px;
}

.portfolio {
  font-family: "Anton", sans-serif;
  font-size: 270px;
  line-height: 1.8;
  letter-spacing: 3.5px;
  color: white;
}

.scroll-wrapper {
  margin-top: -110px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.scroll-btn {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  top: -120px;

  width: auto;
  word-break: keep-all;
  z-index: 0;
  font-family: "poppins", sans-serif;
  transition: transform 0.3s ease-in-out;
}

.scroll-btn:hover {
  transform: translateY(-8px) scale(1.05);
}

@media (min-width: 768px) {
  .scroll-btn {
    padding: 19px 32px;
  }
}

.scroll-btn:before,
.scroll-btn:after {
  border-radius: 20px;
}

.scroll-btn:before {
  background-image: linear-gradient(
    92.83deg,
    rgb(255, 131, 60) 0%,
    rgb(249, 52, 12) 100%
  );
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.scroll-btn:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.scroll-btn:hover:not(:disabled):before {
  background: linear-gradient(
    72.83deg,
    rgb(255, 131, 60) 0%,
    rgb(249, 52, 12) 100%
  );
}

.scroll-btn:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.scroll-btn:active:not(:disabled) {
  color: #ccc;
}

.scroll-btn:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.scroll-btn:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.scroll-btn:disabled {
  cursor: default;
  opacity: 0.24;
}

@keyframes floatUpDown {
  0% {
    transform: translatey(-15px);
  }
  50% {
    transform: translatex(-15px);
  }
  100% {
    transform: translatey(-15px);
  }
}

.click-icon {
  width: 140px;
  height: auto;
  margin-left: -320px;
  margin-top: 40px;
  position: relative;
  animation: floatUpDown 1.5s ease infinite;
  rotate: 10deg;
}

.resume_he {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.main-2 {
  margin-bottom: 200px;
}

.resume_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume_he img {
  width: 400px;
  margin-top: 50px;
  margin-bottom: 30px;
  cursor: pointer;
  border: 5px solid #beb7a4;
  box-shadow: 0 0 40px #f8edebb1;
  border-radius: 15px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.resume_he img:hover {
  transform: scale(1.02);
}

.footer {
  text-align: center;
  padding: 10px;
  color: #ccc;
  font-size: 14px;
  font-family: "poppins", sans-serif;
  margin-bottom: 10px;
}

@font-face {
  font-family: "poppins";
  src: url("Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Edges";
  src: url("Edges.ttf") format("truetype");
}
@font-face {
  font-family: "Brunson";
  src: url("Brunson.ttf") format("truetype");
}
@font-face {
  font-family: "HeadingNow";
  src: url("HeadingNowTrial-37Extrabold.ttf") format("truetype");
}
@font-face {
  font-family: "Grotesk";
  src: url("fonnts.com-Anzeigen_Grotesk.otf") format("truetype");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "tommy";
  src: url("MADE TOMMY Regular_PERSONAL USE.otf") format("opentype");
}

@keyframes fadeSlideZoom {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translateY(-10px) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.portfolio {
  animation: fadeSlideZoom 1.2s ease-out forwards;
}
.scroll-wrapper {
  animation: fadeSlideZoom 1.2s ease-out forwards;
}
@keyframes stretchText {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.8);
    letter-spacing: 3.5px;
  }
  60% {
    opacity: 1;
    transform: translateY(-10px) scale(1.1);
    letter-spacing: 7.5px;
  }
  100% {
    transform: translateY(0) scale(1);
    letter-spacing: 3.5px;
  }
}
.portfolio {
  animation: stretchText 1.2s ease-out forwards;
}

.scroll-top-btn {
  position: fixed;
  bottom: 350px;
  right: 80px;
  width: 50px;
  height: 50px;
  background: linear-gradient(
    72.83deg,
    rgb(255, 131, 60) 0%,
    rgb(255, 42, 0) 100%
  );
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out,
    transform 0.2s ease-in-out, background 0.5s ease-in-out;
  z-index: 9999;
}

.scroll-top-btn svg {
  fill: white;
  transform: rotate(-90deg);
}

.scroll-top-btn:hover {
  background: linear-gradient(
    72.83deg,
    rgb(255, 42, 0) 0%,
    rgb(255, 131, 60) 100%
  );
  transform: translateY(-3px) scale(1.1);
}

.scroll-top-btn.show {
  opacity: 1;
  visibility: visible;
}

.download-btn {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
  margin-bottom: 80px;
  transition: transform 0.3s ease-in-out;
}

.download-btn:hover {
  transform: translateY(-4px) scale(1.05);
}

@media (min-width: 768px) {
  .download-btn {
    padding: 19px 32px;
  }
}

.download-btn:before,
.download-btn:after {
  border-radius: 20px;
}

.download-btn:before {
  background-image: linear-gradient(
    92.83deg,
    rgb(255, 131, 60) 0%,
    rgb(255, 42, 0) 100%
  );
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.download-btn:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.download-btn:hover:not(:disabled):before {
  background: linear-gradient(
    92.83deg,
    rgb(255, 131, 60) 0%,
    rgb(255, 42, 0) 100%
  );
}

.download-btn:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.download-btn:active:not(:disabled) {
  color: #ccc;
}

.download-btn:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.download-btn:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.download-btn:disabled {
  cursor: default;
  opacity: 0.24;
}
